src/components/Navbar.css
.navbar {
  background-color: #4CAF50;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: white;
  font-size: 24px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}
